<!doctype html>
<html lang="fr">
<head>{{ partial "head.html" . }}{{ partial "json-ld.html" . }}</head>
{{- $bg := .Params.bg }}
{{- if not $bg }}
  {{- if ne .Params.bgCascade false }}
    {{- $section := .CurrentSection }}
    {{- if and $section (ne $section.RelPermalink .RelPermalink) }}
      {{- if and $section.Params.bg (ne $section.Params.bgCascade false) }}
        {{- $bg = $section.Params.bg }}
      {{- end }}
      {{- if not $bg }}
        {{- if ne $section.Params.bgCascade false }}
          {{- $bg = site.Params.site.bg }}
        {{- end }}
      {{- end }}
    {{- else }}
      {{- $bg = site.Params.site.bg }}
    {{- end }}
  {{- end }}
{{- end }}
<body{{ with $bg }} style="background:{{ . }}"{{ end }}>
{{ if not (and (eq .Section "projets") .IsPage) }}{{ partial "header.html" . }}{{ end }}
<main id="main-content" class="{{ block "bodyClass" . }}default{{ end }}">
  <div class="container">
    {{ block "main" . }}{{ end }}
  </div>
</main>
{{ partial "footer.html" . }}
</body>
</html>
