{{ $src := .Get "src" }}
{{ $layout := .Get "layout" | default "half" }}
{{ $name := .Get "name" }}
{{ $copyright := .Get "copyright" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}
{{ $uid := $.Page.File.UniqueID }}
<input type="radio" name="gallery-{{ $uid }}" id="g-abs-{{ $uid }}-{{ .Ordinal }}" class="lightbox-toggle" aria-hidden="true">
<figure class="{{ $layout }}">
  <label for="g-abs-{{ $uid }}-{{ .Ordinal }}">
    <img src="{{ $src }}" alt="{{ $name }}" loading="lazy"{{ with $width }} width="{{ . }}"{{ end }}{{ with $height }} height="{{ . }}"{{ end }}>
  </label>
</figure>
<div class="lightbox">
  {{ if gt .Ordinal 0 }}<label for="g-abs-{{ $uid }}-{{ sub .Ordinal 1 }}" class="nav-prev" aria-label="Image précédente">‹</label>{{ end }}
  <label for="g-abs-{{ $uid }}-{{ add .Ordinal 1 }}" class="nav-next" aria-label="Image suivante">›</label>
  <label for="g-{{ $uid }}-none" class="lightbox-bg"></label>
  <label for="g-{{ $uid }}-none" class="lightbox-close">&times;</label>
  <div class="lightbox-content">
    <img src="{{ $src }}" alt="{{ $name }}"{{ with $width }} width="{{ . }}"{{ end }}{{ with $height }} height="{{ . }}"{{ end }}>
    <div class="lightbox-meta">
      {{ with $name }}<span class="img-name">{{ . }}</span>{{ end }}
      <span class="img-copyright">{{ $copyright | default $.Page.Params.copyright | default site.Params.site.copyright }}</span>
    </div>
  </div>
</div>
