{{ $src := .Get "src" }}
{{ $layout := .Get "layout" | default "half" }}
{{ $name := .Get "name" }}
{{ $copyright := .Get "copyright" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}
<input type="checkbox" id="lightbox-abs-{{ .Ordinal }}" class="lightbox-toggle" aria-hidden="true">
<figure class="{{ $layout }}">
  <label for="lightbox-abs-{{ .Ordinal }}">
    <img src="{{ $src }}" alt="{{ $name }}" loading="lazy"{{ with $width }} width="{{ . }}"{{ end }}{{ with $height }} height="{{ . }}"{{ end }}>
  </label>
</figure>
<div class="lightbox">
  <label for="lightbox-abs-{{ .Ordinal }}" class="lightbox-bg"></label>
  <label for="lightbox-abs-{{ .Ordinal }}" class="lightbox-close">&times;</label>
  <div class="lightbox-content">
    <img src="{{ $src }}" alt="{{ $name }}"{{ with $width }} width="{{ . }}"{{ end }}{{ with $height }} height="{{ . }}"{{ end }}>
    <div class="lightbox-meta">
      {{ with $name }}<span class="img-name">{{ . }}</span>{{ end }}
      <span class="img-copyright">{{ $copyright | default $.Page.Params.copyright | default site.Params.site.copyright }}</span>
    </div>
  </div>
</div>
